










body, header, h1, h2, h5, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4e4e4; 
}

body header, body footer{
    background-color: #0c1d2d;
    color: #fff;
    padding: 20px 0;
}


.card_cat{
    width: 33%;
    /*margin: 20px 20px 20px 20px;*/
}

body > header > h1{
    font-family: 'Courier New', Courier, monospace;
}

nav{
    margin: 0 5%;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 45%;
    margin: 10px 0 0;
    text-align: center;
    background-color:rgb(54,54,54);
}

nav ul li:nth-child(odd){
    margin-right: 10%;
}

nav ul li a{
    display: inline-block;
    width:100%;
    height: 100%;
    padding: 5px 0;
    color: rgb(255, 253, 130);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav ul li:hover a, nav ul li a.active{
    color: rgb(255, 253, 130);
}

main{
    margin: 20px 5% 0;
}


body > footer > p{
    font-family: 'Courier New', Courier, monospace;
}
/*#logo_head a{
    width: 125px;
}*/

#login_form, #register_form{
    padding: 20px 5%;
    width: 600px;
    margin-bottom: 300px;
}

form h2, main > section > h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0 20px;
}

form ul{
    list-style: none;
    width: 80%;
    margin: 0 10%;
}

form ul li{
    margin-bottom: 20px;
}

form ul li:last-child{
    text-align: right;
}

form ul li label{
    display: inline-block;
    width: 50%;
}

form ul li input:not([type="submit"]){
    width: 50%;
    box-sizing: border-box;
}

form ul li input[type="checkbox"]{
    margin: 0;
}

form ul li input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(255, 253, 130);
}

form ul li textarea{
    width: 100%;
    height: 150px;
}

form ul li img{
    width: 50px;
}
a, a:hover{
    color:#333
  }
#pswd_info {
    position: absolute;
    bottom:-100px;
    bottom: -115px\9; /* IE Specific */
    left: 100px;
    right:55px;
    width:250px;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
}

#pswd_info h4 {
    margin:0 0 10px 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position: absolute;
    top:-12px;
    left:45%;
    font-size:14px;
    line-height:14px;
    color:#ddd;
    text-shadow:none;
    display:block;
}

.invalid {
    padding-left:22px;
    line-height:24px;
    color:#ec3f41;
}
.valid {
    padding-left:22px;
    line-height:24px;
    color:#3a7d34;
}
#pswd_info, #account_successfull {
    display:none;
}

#good_end{
    color: rgb(71, 176, 71);
    margin-top: 100px;
    margin-bottom: 100px;
}

#succesfull{
    background-color: #b5eeaf;
    border-style: solid;
    border-width: 5px;
    border-color: #3a7d34;
    border-style: groove;
    border-radius: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#succesfull p{
    font-size: 100px;
}


.horizontal-scrollable > .row {
    overflow-x: auto;
    white-space: nowrap;
}
  
.horizontal-scrollable > .row > .col-xs-4 {
    display: inline-block;
    float: none;
}
/* Decorations */
  
.col-xs-4 {
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
    padding-top: 18px;
}
  
.col-xs-4:nth-child(2n+1) {
    background: green;
}
  
.col-xs-4:nth-child(2n+2) {
    background: black;
}

div.scrollmenu {
    background-color: #333;
    overflow: scroll;
    white-space: nowrap;
    margin-top: 30px;
    margin-bottom: 100px;
}
  
div.scrollmenu a {
    display: inline-block;
    color: rgb(14, 14, 14);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a img{
    width: 1000px;
    height: 1000px;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}
  
#selector_phone {
    width: 20%;
}
#phone_number {
    width: 90%;
}

.nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
/*image gallery*
.image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 0;
    outline: 0;
}
.image-checkbox input[type="checkbox"] {
    display: none;
}

.image-checkbox-checked {
    border-color: #4783B0;
}
.image-checkbox .fa {
    position: absolute;
    color: #4A79A3;
    background-color: #fff;
    padding: 10px;
    top: 0;
    right: 0;
}
.image-checkbox-checked .fa {
    display: block !important;
}/**/

.no-gluten {
    filter: grayscale(100%);
}

.custom-control.image-checkbox {
    position: relative;
    padding-left: 0;
  }
  
  .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:after, .custom-control.image-checkbox .custom-control-input:checked ~ .custom-control-label:before {
    opacity: 1;
  }
  
  .custom-control.image-checkbox label {
    cursor: pointer;
  }
  
  .custom-control.image-checkbox label:before {
    border-color: #007bff;
    background-color: #007bff;
  }
  
  .custom-control.image-checkbox label:after, .custom-control.image-checkbox label:before {
    transition: opacity .3s ease;
    opacity: 0;
    left: .25rem;
  }
  
  .custom-control.image-checkbox label:focus, .custom-control.image-checkbox label:hover {
    opacity: .8;
  }
  
  .custom-control.image-checkbox label img {
    border-radius: 2.5px;
  }
  
  .form-group-image-checkbox.is-invalid label {
    color: #dc3545;
  }
  
  .form-group-image-checkbox.is-invalid .invalid-feedback {
    display: block;
  }
  

/*<576px*/
@media screen and (max-width:576px){
    #card_cat{
        width: 300px;
    }

    #login_form, #register_form{
        padding: 20px 5%;
        /*width: 50%;*/
        margin-bottom: 300px;
    }
}


@media screen and (min-width:768px){
    
    

    main{
        display: flex;
        flex-direction: column;
      }

    nav{
        margin: 0 10%;
    }
    nav ul li{
        width: 19%;
    }

    nav ul li:not(:last-child){
        margin-right: 8%;
    }

    main, aside{
        display: inline-block;
        vertical-align: top;
    }

    main{
        width: 50%;
        margin: 20px 5% 0 10%;
    }

    aside{
        width: 25%;
        margin: 20px 10% 0 0;

    }

    form ul{
        width: 50%;
        margin: 0 25%;
    }

    table{
        width: 80%;
        margin: 0 10%;    
    }
}



/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked {
    color: #ff9f1a; }
  .price span{
    color: #194e1c; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }

              header {
                background-color: #2196F3;
                padding: 10px 15px;
            }
            header nav .navbar-nav .nav-link {
                color: #efefef !important;
                font-size: 18px;
                font-weight: 500;
                padding: 0px 18px !important;
                background-color: #2e0049a8;
            }
            header .navbar-brand {
                max-width: 200px;
            }
            
            
            /* Header Search Bar */
            .header-search input[type="text"] {
                border: none;
            }
            .header-search .input-group-addon button {
                color: #fff;
                background: #ef2d2c;
                padding: 10px 15px;
                border: none;
                font-size: 12px;
            }
            .select-style {
                width: auto;
                padding: 0;
                margin: 0;
                display: inline-block;
                vertical-align: middle;
            }
            .select-style select {
                width: 100%;
                background: #efefef;
                color: #000;
                height: 38px;
                padding: 0px 9px;
                border: none;
                outline: none;
            }
            .select-style select option.topshow {
                padding: 10px 0;
                position: relative;
                top: 15px;
            }
            /* End Header Search Bar */
            
            
            /* Header cart CSS */
            header .cart a {
                color: #fff;
                text-decoration: none;
            }
            header .cart {
                position: relative;
                left: -15px;
            }
            header .cart a span.number{
                position: relative;
                left: -10;
                top: -20;
                color: #ef2d2c;
            }
            header .cart a span.number {
                position: relative;
                left: -10;
                top: -20;
                color: #ffffff;
            }
            header .cart a {
                color: #fff;
                text-decoration: none;
            }
            .dot {
                height: 25px;
                width: 25px;
                text-align: center;
                background-color: #ef2d2c;
                border-radius: 50%;
                display: inline-block;
            }
            /* End Header cart CSS */
            
            
            
            
            
            /* Responsive CSS */
            @media (max-width: 991px) {
                header .cart a img {
                    width: 30px;
                    margin-left: 10px;
                }
                header .cart a span.number {
                    left: 40px;
                    top: -7px;
                    font-size: 14px;
                }
                header {
                    padding: 10px 0px;
                }
                .cart-login {
                    position: absolute;
                    right: 70px;
                }
                header .navbar-brand {
                    max-width: 150px;
                }
            }
            
            @media (min-width: 1400px) {
                .image {
                    overflow: hidden;
                    width: auto;
                }
                
                .image img {
                    width: 100%;
                    height: 300;
                    transition: all 1s ease-in-out
                }
                
                .image:hover img {
                    transform: scale(1.5, 1.5);
                    cursor: pointer
                }
            }



#input_search{
    align-self: flex-end;
    align-content: flex-end;
}

.not-equal-to-search{
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }



.bg-red{
    background-color: red;
}

.bg-anchored-image
{
  width: 100%;
  height: 200px;
  background-image: url("../upload/logo_scuro.png");
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff00;
  animation: ingrandisci 1s infinite;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* ############## NOTIFICAITON ZONE ##################*/

.notification_det{
    background-color: #f6f6f6;
    color: #333;
    height: 100%; 
    width: 100%;
}
.notification_det_table {
    background-color: #f6f6f6;
    border-collapse: collapse;
    padding: 40px;
    width: 100%;
    border-spacing: 0;
}

.td_spacing{
    width: 5px; 
    padding: 10px 0;
}

.notif_header
{
    clear: both; 
    display: block; 
    margin: 0 auto; 
    max-width: 600px; 
    padding: 10px 0;
}

.notif_header > table {
    width: 100%;
    border-spacing: 0; 
    border-collapse: collapse;
}

.td_logo{
    padding: 0;
}

.td_logo > a{
    color: #348eda;
}

.td_logo > a > img {
    max-width: 100%;
    height: 125px;
    width: 125px;
}

.td_info{
    color: #999;
    font-size: 12px;
    padding: 0;
    text-align:start;
}

.notif_head_info{
    background-color: #FFFFFF; 
    border: 1px solid #000;
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}

.notif_head_info > table {
    border-bottom: 1px solid #eee;
    border-collapse: collapse;
    color: #999;
}

.td_pay{
    width: 50%; 
    padding: 20px;
}

.td_pay strong{
    color: #333;
    font-size: 24px;
}

.td_thx{
    align-self: flex-end;
    width: 50%; 
    padding: 20px;
}
.padder{
    width: 10%;
    padding: 10px 0;
}




.body_info{
    border: 1px solid #000;
    border-top: 0; clear: both;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}

.body_info > table {
    border-spacing: 0;
    border-collapse: collapse;
    border-left: 1px solid #000;
    margin: 0 auto;
    max-width: 600px;
}

.summary{
    vertical-align: top;
    padding: 20px;
}

.summary > h3 {
    border-bottom: 1px solid #000;
    color: #000;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.summary table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.td_name, .td_price, .td_count{
    padding: 5px 0;
}
.td_amount_lbl, .td_amount, .td_total{
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    font-weight: bold;
    padding: 5px 0;
}

.td_price, .td_amount{
    align-self: flex-start;
}
.td_count, .td_total{
    align-self: flex-end;
}

.table_footer{
    color: #666;
    font-size: 12px;
}

.td_question{
    width: 40%;
    vertical-align: top;
    padding: 10px 0;
}

.td_question h4{
    margin: 0;
}

.td_question p{
    color: #666;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 10px;
}

.td_question p a {
    color: 666;
}



